.screensaver {

  h1{
    position: absolute;
    top: 140px;
    left: 103px;
    z-index: 100;

    color: #FFFFFF;
    font-weight: bold;
    font-size: 48px;

    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: 2s;

  }

  .discover{
    position: absolute;
    top: 400px;
    right: 107px;
  }

}