
@font-face {
  font-family: 'sofiapro-medium';
  src: url('source/fonts/sofiapro_medium/sofiapro-medium-webfont.woff2') format('woff2'),
  url('source/fonts/sofiapro_medium/sofiapro-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sofiapro-light';
  src: url('source/fonts/sofiapro_light/sofiapro-light-webfont.woff2') format('woff2'),
  url('source/fonts/sofiapro_light/sofiapro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'sofiapro-bold';
  src: url('source/fonts/sofiapro_bold/sofiapro-bold-webfont.woff2') format('woff2'),
  url('source/fonts/sofiapro_bold/sofiapro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

