$blue : #00338D;

@import "keyframes";
@import "typography";
@import "dropdown-area";
@import "classes";

body, html{
  padding: 0;
  margin: 0;
  overflow: hidden;

  width: 100%;
  height:100%;

  *{box-sizing: border-box;}

}


.view{

  width: 100vw;
  height:100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

#app{
  position: absolute;
  top:0;
  left: 0;
  z-index:10;

  width: 100vw;
  height:100vh;
  background: radial-gradient(circle, #CEDEEA 0%, #C3D7E6 42.5%, #9EC3DE 100%);
  background-size: cover;
  background-position: center;

}



.screensaver{

  position: relative;
  z-index: -1;

  width: 100%;
  height:100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}




.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.5s ease;

}

.fade-leave {
  /*opacity: 1;*/
}

.fade-leave-active {
  transition: opacity 0.5s ease;
  opacity: 0;
}




.slide-from-right-enter {
  transform: translate3D(100%,0,0);
}

.slide-from-right-enter-active {
  transition: all 0.5s ease;
}

.slide-from-right-leave {
  /*opacity: 1;*/
}

.slide-from-right-leave-active {
  transition: all 0.5s ease;
  transform: translate3D(100%,0,0)
}





