.discover-component {

  background-position: center;
  background-size: cover;;

  display: block;

  .discover{

    position: absolute;
    top: 56px;
    right: 96px;

  }

  .main-block{

    display: flex;
    flex-direction: column;
    margin: 112px 0 0 309px;
    width: 624px;

  }

  .product-image{

    display: flex;
    margin: 75px auto 0 !important;
    width: 917px;


  }

}