<section class="discover-component view">

    <!-- BACK -->
    <!--<back></back>-->

    <!-- RADAR BUTTON -->
    <button-radar :to="'/features'" :label="'Explore the features'" v-pop-in="200"></button-radar>


    <div class="main-block">

       <h1>AMERISLEEP<br>ADJUSTABLE BED</h1>

       <p>
           For ultimate relaxation, pair your perfect Amerisleep mattress with our adjustable bed.
           Use the app or remote control to raise your head and feet, and feel your stress and pressure points relieved.
           To sleep better than ever, turn on the dual wave massage and enjoy a night’s rest like no other.
       </p>

    </div>


    <!-- DROP DOWN WILL LOAD DATA FROM THE VUE STORE -->
    <div class="dropdown-area">

        <h4>Select a size</h4>

        <div class="dropdown" @click="onClick($event)">

            <div class="dropdown-item selected">
                <span>{{ selectedItem.name }} <i>({{ selectedItem.size }})</i></span>
            </div>

            <div v-for="(item, index) of sizes" class="dropdown-item" @click="onSelect(index)">
                <span>{{ item.name }} <i>({{ item.size }})</i></span>
            </div>

        </div>

        <h2>${{ price }}</h2>

    </div>


    <img src="media/images/amerisleep-adjustable-split.png" v-slide-up class="product-image">


</section>
