.features {

  flex-direction: column;
  justify-content: flex-start;

  padding-top: 112px;

  h1, p{
    float: left;
    width: 100%;
    text-align: center;
  }

  p{
    color: #3B5C97;
    font-size: 18px;
    font-weight: 500;
    line-height: 31px;
    margin: 0;
  }

  .discover{

    position: absolute;
    top: 56px;
    right: 96px;

  }


  .product-image{

    position: absolute;
    bottom: -100px;
    width: 1400px;

    img{
      width: 100%;
    }

  }


  .expand-details{
    position: absolute;
    z-index: 1000;
  }

  .item01{
    bottom: 90%;
    left: 17%;
  }

  .item02{
    bottom: 47%;
    left: 22%;
  }

  .item03{
    bottom: 85%;
    left: 72%;
  }

  .item04{
    bottom: 34%;
    left: 47%;
  }

}